.notification-bell {
    position: relative;
    cursor: pointer;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.notification-dropdown {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
    top: 35px;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    color: black;
}

.bell-icon {
    width: 32px;
    height: 32px;
    transition: box-shadow 0.3s ease;
    display: block;
}

@keyframes ring {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(5deg);
    }

    20% {
        transform: rotate(-5deg);
    }

    30% {
        transform: rotate(3deg);
    }

    40% {
        transform: rotate(-3deg);
    }

    50% {
        transform: rotate(2deg);
    }

    60% {
        transform: rotate(-2deg);
    }

    70% {
        transform: rotate(1deg);
    }

    80% {
        transform: rotate(-1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ringing {
    animation: ring 0.5s ease infinite;
}

.notification-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-dropdown li {
    padding: 10px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notification-dropdown li:last-child {
    border-bottom: none;
}

.notification-dropdown button {
    background-color: transparent;
    color: #007bff;
    border: none;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
}

.notification-dropdown button:hover {
    text-decoration: underline;
}

.notification-dropdown button:focus {
    outline: none;
}

.notification-dropdown button:disabled {
    color: #ccc;
    cursor: not-allowed;
}